@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
body{
    width: 100%;
    min-height: 100vh;
    background: rgb(10, 10, 10);
    font-family: rubik, josefin sans;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar{
    background: rgb(50,50,50);
    color: white;
    width: 95%;
    margin-top: 10px;
    border-radius: 20px;
}

.navbar .menu{
    background: rgb(50,50,50);
}